**/node_modules
**/cypress/integration/examples
**/.vs
**/.vscode
**/RestaurantReview.UI/obj
**/RestaurantReview.Infrastructure/obj
**/RestaurantReview.Domain/obj
**/RestaurantReview.Authentication/obj
**/RestaurantReview.Application/obj
**/RestaurantReview.API/obj
**/RestaurantReview.Authentication/Migrations
**/RestaurantReview.Infrastructure/Migrations