


h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

.wrapper { /*Vart saker skall placeras*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    margin-top: 250px;
    height: 397.667px;
}
 /*hashtag är för ids    . är för klasser*/
#RegisterForm {   /*registerform, designen för den */
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  position: absolute;
  text-align: center;
  border: 1px solid #fff;
  border-color: #ccc;
}

/*Login & Register*/
h2.inactive {
  color: #B7B7B7;
}

h2.active {
  color: #0d0d0d;
}

/*login knappen*/  /*REGISTERRRRRRRRRR*/
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(95,186,233,0.4);
  box-shadow: 0 5px 10px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 10px 20px;
  border: 1px solid #fff;
  border-color: #48ABDD;
  cursor: pointer;
}

input[type=text], input[type=email], input[type=password] {  /*USERNAME, EMAIL RUTORNA*/
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  width: 85%;
  border: 1px solid #ccc;

  -webkit-border-radius: 1px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

}


p {
  font-size: 12px;
  width: 150px;
  color: black;
  display: inline-block;
  margin-left: 18px;

}



/* underline på "login" när man hovrar*/
.underlineHover:after {
  display: block;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #000;
  content: "";
  transition: 0.25s;
}

.underlineHover:hover {
  color: #000;
}

.underlineHover:hover:after{
  width: 100%;
}


*:focus { /*när man har fokus på ngt så tar den bort outline på den andra*/
    outline: none;
}


* {
  box-sizing: border-box;
}
