.card {
    margin-bottom:75px;
    margin-top:75px;
    margin-right: 12px;
    display: grid;
    grid-column-end: span 12;
    font-size: 38px;
    color: blue;
    width: 800px;
    height: 575px;

}
.card-img-top {
    height:500px;
    width:800px;
}

.restCont{
    display:flex;
    flex: 2;
    flex-direction:row;
    float:left;
}

