.restPic{
    max-width:300px;
}

.container {
       max-width: none;
}

.resCont{
    max-width:1140px;
    color:black;
}

RestaurantPageCard container{
    max-width: 1140px;
}

.reviewCard{
    height:150px;
    color:black;
}

