<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">

  </head>
<body>
  <div class="wrapper">
      <div id="RegisterForm">
        <!-- Login och register flikar -->
        <h2 class="inactive underlineHover">Login </h2>
        <h2 class="active">Register </h2>

        <!-- Login Form -->
        <form action="/action_page.php" method="post">
        <!--  <label id="register" for="Username"><i class="register-username "></i></label>-->
            <input type="text" name="Username" id="Username" placeholder="Username" required/>
          <!--  <label id="register" for="Email"><i class="register-email"></i></label>-->
            <input type="email" name="Email" id="Email" placeholder="Email" required/>

          <!--  <label id="password" for="password_input"><i class="register-password"></i></label>-->
            <input type="password" name="password_input" id="password_input" placeholder="Password" required/>

          <!--  <label id="password_confirm" for="passwordConfirm_input"><i class="register-PassConfirm"></i></label>-->
            <input type="password" name="passwordConfirm_input" id="passwordConfirm_input" placeholder="Confirm Password" required/>



            <div>
            <p>By clicking on register you agree on our <a href="#">terms and conditions</a>.</p>
            </div>
          <input type="submit"  value="Register">

        </form>
      </div>
    </div>

<div>
<p>
  </p>
  </div>
  <script src="javascript.js"></script>
  </body>
</html>
