.ListOfCategories {
    font-size: 28px;
    font-weight: 800;
    justify-self:center;
    color: #f9e7d9;
    text-shadow: 4px 4px #0a0704;
    text-align: center;
    padding:0;
}

.ListOfCategories a {
      text-decoration: none;
      
}

.addForm {
    max-width: 15vw;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border: 1px solid #fff;
    border-color: #ccc;
}

.btn{
    max-width:250px;
}

